<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favourite Restaurants</title>
</head>
<body>
    <h2>My Favourite Restaurants</h2>
    <a href="{% url 'add_restaurant/' %}">Add New Restaurant</a>
    <table border="1">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Cuisine</th>
                <th>Ratings</th>
            </tr>
        </thead>
            
        <tbody>
            {% for restaurant in restaurants %}
            <tr>
                <td>
                    <img src="{{ restaurant.picture }}" alt="Picture of {{ restaurant.name }}" width="100">
                </td>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.cuisine }}</td>
                <td>{{ restaurant.rating }}/5</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>